<div class="shacdn-container">
    <h1 class="shacdn-title">Applications</h1>
    <button mat-raised-button color="primary" class='button' (click)="openAddApplicationDialog()">Add Application</button>
    <div class="shacdn-row">
      <div *ngFor="let app of applications" class="shacdn-col-12 shacdn-col-md-6 shacdn-col-lg-4" (click)="selectApplication(app)">
        <a [routerLink]="['/services', app.id]" class="shacdn-card-link">
        <div class="shacdn-card">
          <div class="shacdn-card-header">
            <img [src]="'assets/logo1.png'" alt="{{ app.logoUrl }} Logo" class="app-logo">
            <h2>{{ app.name }}</h2>
          </div>
          <div class="shacdn-card-content">
            <p>{{ app.description }}</p>
          </div>
          <button mat-button color="warn" (click)="deleteApplication(app.id)">Delete</button>
        </div>
    </a>
      </div>
    </div>
  </div>
