<div class="center-content" appearance="fill">

    <mat-card class="example-card">
      <mat-tab-group dynamicHeight [(selectedIndex)]="selectedIndex">
        <mat-tab label="Login">
          <div class="short">
  
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Username" value="" required>
                <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').errors?.['required']">Please
                  Enter Email</mat-error>
              </mat-form-field>
  
  
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" formControlName="password" matInput placeholder="Password" appearance="outline"
                  required>
                <mat-error
                  *ngIf="loginForm.get('password').touched && loginForm.get('password').errors?.['required']">Please Enter
                  password</mat-error>
              </mat-form-field>
              <button mat-raised-button  type="submit" color="primary">Login</button>
            </form>
            <hr>
            <div>
              <button mat-flat-button (click)="changeIndex()">Not have an account?</button>
  
            </div>
          </div>
        </mat-tab>
        <!-- </mat-tab>
          <mat-tab routerLink="/signup" label="signup">
            <app-signup></app-signup>
          </mat-tab> -->
  
        <mat-tab label="Register">
          <div class="example-large-box mat-elevation-z4">
            <div class="short">
              <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input formControlName='fullname' matInput placeholder="Username" value="" required>
                  <mat-error
                    *ngIf="signupForm.get('fullname').touched && signupForm.get('fullname').errors?.['required']">Fullname
                    is required</mat-error>
                </mat-form-field>
  
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input formControlName='email' matInput placeholder="Email" appearance="outline">
                  <mat-error *ngIf="!signupForm.get('email').valid && signupForm.get('email').errors?.['email']">Email is
                    not valid</mat-error>
                  <mat-error color='warn'
                    *ngIf="signupForm.get('email').touched && signupForm.get('email').errors?.['required']">Email is
                    required</mat-error>
                  <mat-error *ngIf="signupForm.get('email').errors?.['emailExists']">
                    Email
                    already exists</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input type="password" formControlName='password' matInput placeholder="Username" value="">
                  <mat-error
                    *ngIf="signupForm.get('password').touched && signupForm.get('password').errors?.['required']">Please
                    enter password </mat-error>
                  <mat-error *ngIf="signupForm.get('password').errors?.['minLength']">Please enter password </mat-error>
  
                </mat-form-field>
  
  
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input type="password" formControlName='password2' matInput placeholder="Password" appearance="outline">
                  <mat-error
                    *ngIf="signupForm.get('password2').touched && signupForm.get('password2').errors?.['required']">Please
                    confirm your password </mat-error>
                  <mat-error *ngIf="signupForm.get('password2').errors?.['minLength']">Please
                    confirm your password </mat-error>
                  <mat-error *ngIf="signupForm.get('password2').errors?.['mustMatch']!=null">confirm password does not
                    match</mat-error>
                </mat-form-field>
                <button [disabled]="!signupForm.valid" mat-raised-button type="submit" color="primary">Signup</button>
                <hr>
              </form>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  
  
    </mat-card>
  </div>