<div class="container">
  <h1>Service List</h1>
  <div *ngIf="selectedApplicationName">
    <h2>Selected Application: {{ selectedApplicationName }}</h2>
  </div>
<button  mat-raised-button color="primary" class='button' (click)="openAddServiceDialog()">Add Service</button>
<div class="shacdn-table-container">
    <table class="shacdn-table">
      <thead>
        <tr>
          <th>Services</th>
          <th>Status</th>
          <th>Recent Incident</th>
          <th>Active</th>
          <th>Timeline</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services">
          <td>{{ service.name }}</td>
          <td>{{ service.status }}</td>
          <td>{{ service.recentIncident }}</td>
          <td>{{ service.active }}</td>
          <td>{{ service.timeline }}</td>
          <td data-label="Actions">
            <button (click)="viewService(service)">View</button>
            <button class="shacdn-button shacdn-button-primary" (click)="editService(service)">Edit</button>
            <button (click)="deleteService(service.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="services.length === 0">
      <p>No services found for this application.</p>
    </div>
  </div>
  </div>
