<div class="main">
  <div>
<mat-toolbar class="navbar">
  <div class="button">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon"><span class="material-icons">
      emoji_nature
      </span></mat-icon>
  </button>
  
  <span>Stack Status</span>
  <button mat-icon-button><span class="material-icons">
    login
    </span><span class="material-icons">
      logout
      </span></button>
</div>
  <!-- <div class="toggle">

    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle class="mr-8" [(ngModel)]="isDarktheme" labelPosition="before"
      (change)="onselectionTheme()"></mat-slide-toggle>

    <mat-icon>bedtime</mat-icon>
  </div> -->
</mat-toolbar>
</div>
<div>
<app-sidebar></app-sidebar>
</div>
</div>