<mat-sidenav-container class="sidenav-container mat-app-background" >
    <mat-sidenav #drawer class="sidenav" fixedInViewport 
       [opened]="opened">
      <!-- <mat-toolbar>Menu</mat-toolbar>
      <mat-divider></mat-divider> -->
      <mat-nav-list>
        <a mat-list-item routerLink="/movies">All Movies</a>
        <!-- <mat-divider></mat-divider> -->
        <!-- <a mat-list-item href="#" color="white">Profile</a>
        <mat-divider></mat-divider> -->
        <a mat-list-item href="/myBookings" *ngIf="userService.user | async">My Bookings</a>
       <button
       class="login"
       *ngIf="!(auth.isAuthenticated$ | async); else logoutButton"
       (click)="auth.loginWithPopup()"
       ><span class="material-icons">
        login
        </span>Log In</button>
       <ng-template #logoutButton>
        <button
       class="login"
       *ngIf="auth.isAuthenticated$ | async"
       (click)="auth.logout()"
       ><span class="material-icons">
        logout
        </span> Log Out</button>
       </ng-template>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      
      <!-- Add Content Here -->
     
      <router-outlet></router-outlet>
  
    </mat-sidenav-content>
  </mat-sidenav-container>